@import '../SCSS/import-fonts';

.container
{
    max-width: 950px;
    margin: 0 auto;
}
.title
{
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;

    color: #FFFFFF;
    text-align: center
    &_left
    {
        text-align: left;
        line-height: 54px;
    }
}
@import "../SCSS/promo";
@import "../SCSS/_header.scss";
@import "../SCSS/_buttons.scss";
@import "../SCSS/prem";
@import "../SCSS/_consultation";
@import "../SCSS/_forms.scss";
@import "../SCSS/_carousel.scss";
@import "../SCSS/catalog";
@import "../SCSS/_reviews";
@import "../SCSS/footer";
@import "../SCSS/modal";
